/* .parent {
	display: flex;
	justify-content: center;
	align-items: center;
} */

.dial {
	display: inline-block;
	height: 400px;
	width: 400px;
	border: 1px solid red;
	box-sizing: border-box;
}

.input {
	font-size: 40px;
	border: none;
	width: 120px;

	text-align: center;
}

.button {
	display: block;
	transform: translateX(30%);
}

.centered {
	position: fixed;
	top: 200px;
	left: 210px;
	transform: translate(-50%, -50%);
	z-index: 1;
}
